img {
    width: 25%;
}

body {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background: #94b1ff;
    color: #000000;
}

footer {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background: #ffffff;
    color: #000000;
}